@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
html {
    word-break: break-all;
    font-family: 'Cutive Mono', monospace;
    line-height: 1;
    font-size: 1em;
    margin: 0;
    padding: 1vw;
}

.main-container {
    /*width: 80ch;*/
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(#43A047, #FF5722, #29B6F6, #C2185B, #673AB7, #009688);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
